/*.split {
    height: 100%;
    width: 50%;
    padding-top: 0px;
    position: fixed;
  }
*/

.splitright{
position:absolute;
top: 1%;
right: 5%;
}

html, body {
    font-family: Georgia;
    background-color: #22C7F0;
    margin: 0;
    padding: 0;
  }

header {
    font-family: Georgia;
    background-color: #29A1BF;
}

h1 {
    font-size: 250%;
}

div img {
    width: 100px;
    height: 100px;
}

.previews {
    width: 200px;
    height: 200px;
    align: left;
}

.active {
    color: blue;
    font-weight: bold;
}
nav {
    display: inline-block;
    /*color: black;*/
}