/*.split {
    height: 100%;
    width: 50%;
    padding-top: 0px;
    position: fixed;
  }
*/

.splitright{
    position: absolute;
    top: 5%;
    right: 5%;
}

html, body {
    font-family: Georgia;
    background-color: #22C7F0;
    margin: 0;
    padding: 1%;
  }

header {
    font-family: Georgia;
    background-color: #29A1BF;
}

h1 {
    font-size: 250%;
}

div img {
    width: 100px;
    height: 100px;
}

.previews {
    width: 200px;
    height: 200px;
    align: left;
}

.active {
    color: blue;
    font-weight: bold;
}
nav {
    display: inline-block;
    /*color: black;*/
}

nav a:hover {
    background-color: #0059b3;
    color: white;    
}

.vertical {
    list-style-type: none;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #0059b3;
    color: white;
}