.signuperror {
    color: red;
}

.success {
    color: green;
}

html {
    font-family: 'Raleway', 'sans-serif';
}

html, body {
    background-color: #22C7F0;
    margin: 0;
    padding: 1%;
}

input {
    width: 15%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.logo {
    width: 100px;
    height: 100px;
}

header {
    background-color: #29A1BF;
}